.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  height: 80px;
  padding-bottom: 25px;
  padding-top: 24px;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.item {
  transition: background-color 0.25s ease-in-out;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav.flex {
  display: flex;
  margin-left: 90px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transform: scale(1);
  transition: background-color, color 0.25s ease-in-out;
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
  transition: background-color, color 0.25s ease-in-out;
}

.site-nav .link.current {
  color: var(--accent-color);
  transition: background-color, color 0.25s ease-in-out;
  /* background-color: var(--accent-color); */
}

.link.current::after {
  position: absolute;
  display: inline;
  content: "";
  background-color: var(--accent-color);
  /* font-weight: 500;
  font-size: 14px;
  line-height: 1.14; */
  top: 43px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  /* bottom: 0; */
}

.hero__class {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  border-radius: 4px;
  border: 0;
  background-color: var(--background-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img3/Img\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  width: 696px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__button__primary {
  color: #FFFFFF;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.25s ease-in-out;
}
.hero__button__primary:hover, .hero__button__primary:focus {
  background-color: var(--background-button);
  color: var(--title-text-color);
  transition: background-color 0.25s ease-in-out;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  /* left: 0; */
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transition: scale(1);
  transform: transform 250ms translate(-50%, -50%) scale(1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.buttom-close-icon {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttom-close-icon:hover, .buttom-close-icon:focus {
  fill: var(--accent-color);
  transition: fill 0.25s ease-in-out;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label-text {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  color: rgb(117, 117, 117);
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  font-size: 14px;
  color: var(--paragraf-color);
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.modal-input:focus {
  outline-color: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-field,
.modal-label {
  display: block;
  margin-bottom: 10px;
}

.span-title {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-left: 3px;
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.par-title {
  margin-top: 1px;
  margin-left: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-input-wrap {
  position: relative;
}

.modal-label-text {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  color: rgb(117, 117, 117);
}

.modal-textarea {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 519px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
}
.modal-textarea:focus {
  outline-color: var(--accent-color);
}
.modal-textarea::-moz-placeholder {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal-textarea:-ms-input-placeholder {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal-textarea::placeholder {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  height: 24px;
  color: rgb(117, 117, 117);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  display: block;
  border-radius: 4px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
  transition: border-color 0.25s ease-in-out;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #ffffff;
  transition: background-color 0.25s ease-in-out;
}

.button-modol-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 713px;
  margin-left: 124px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  letter-spacing: 0.06em;
  border: none;
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-modol-button :hover, .button-modol-button :focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contact {
  letter-spacing: 0.02em;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--paragraf-color);
  transform: scale(1);
  transition: color 0.25s ease-in-out;
}
.contact:hover, .contact:focus {
  color: var(--accent-color);
  transition: color 0.25s ease-in-out;
}

.contact-soc {
  margin-right: 10px;
  fill: var(--paragraf-color);
  transition: fill 0.25s ease-in-out;
}
.contact:hover .contact-soc, .contact:focus .contact-soc {
  fill: var(--accent-color);
  transition: fill 0.25s ease-in-out;
}

.contact-soc {
  color: var(--paragraf-color);
  transition: color, color 0.25s ease-in-out;
}

.contact-soc {
  margin-right: 10px;
  fill: var(--paragraf-color);
  transition: fill 0.25s ease-in-out;
}

.button__primary {
  color: var(--title-text-color);
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  /* width: 125px; */
  height: 38px;
  margin-right: 8px;
  padding: 0 25px;
  border-radius: 4px;
  border: 0;
  transition: background-color, box-shadow, color 0.25s ease-in-out;
}
.button__primary:hover, .button__primary:focus {
  background-color: var(--accent-color);
  color: var(--background-button);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: background-color, box-shadow, color 0.25s ease-in-out;
}

.button__item:not(:last-child) {
  margin-right: 8px;
}

.button__marg {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button__all {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  margin-bottom: 50px;
}

.test__section__teams {
  margin-bottom: 50px;
  text-align: center;
  color: var(--brand-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.test__list {
  display: flex;
  gap: 30px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.test__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.test__link {
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: scale(1); */
  transition: border-color 250ms ease-in-out;
}
.test__link:hover, .test__link:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms ease-in-out;
}

.test__link__icon {
  fill: #AFB1B8;
  transition: border-color 0.25s ease-in-out;
}
.test__link:hover .test__link__icon {
  fill: var(--accent-color);
  /* transform: scale(1); */
  transition: fill 250ms ease-in-out;
}
.test__link:focus .test__link__icon {
  fill: var(--accent-color);
  /* transform: scale(1); */
  transition: fill 250ms ease-in-out;
}

.section-uni {
  /* border-radius: 4px; */
  display: flex;
  gap: 30px;
}
.section-uni:not(:last-child) {
  margin-right: 30px;
}

.soc-section-link {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* .section-work{
    margin-bottom: 100px;
} */
.working {
  display: flex;
  gap: 30px;
}
.working:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-titles {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-photo {
  display: flex;
  flex-wrap: wrap;
  /* padding-right: 15px;
  padding-left: 15px; */
}

.section-photo-img {
  width: calc((100% - 60px) / 3);
}
.section-photo-img:not(:last-child) {
  margin-right: 30px;
}

.work-studio {
  padding-bottom: 94px;
}

.team-color {
  background-color: #F5F4FA;
}

.section-texts {
  color: var(--paragraf-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-teams {
  margin-bottom: 50px;
  text-align: center;
  color: var(--brand-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-pic {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-roster {
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 120px) / 4);
  margin: 15px;
}

.team-names {
  padding: 30px 30px;
  text-align: center;
  justify-content: center;
}

.work-bottom-wrap {
  position: relative;
}

.work-bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--studio-title);
  background: rgba(47, 48, 58, 0.8);
  line-height: 1.14;
  font-weight: 700;
  font-size: 14px;
  padding: 27px;
  height: 70px;
  width: 370px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}
.team-soc-item:hover, .team-soc-item:focus {
  background-color: var(--accent-color);
  /* border-radius: 50%; */
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background: var(--studio-title); */
  /* transition: background-color 0.25s ease-in-out; */
}

.team-soc-icon {
  fill: #AFB1B8;
}
.team-soc-item:hover .team-soc-icon {
  fill: var(--studio-title);
}
.team-soc-item:focus .team-soc-icon {
  fill: var(--studio-title);
}

.test-list {
  display: flex;
  gap: 30px;
}

.test-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
  border-radius: 5px;
}
.test-item:hover, .test-item:focus {
  border-color: var(--accent-color);
  border-radius: 50%;
}

.test-link {
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-item:hover .test-icon, .test-item:focus .test-icon {
  fill: var(--studio-title);
}

.team-names {
  padding: 30px 30px;
  text-align: center;
  justify-content: center;
}

.section-team {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.test-link-icon {
  margin: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-text {
  color: var(--paragraf-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__class {
  border: 1px solid #EEEEEE;
  width: calc((100% - 90px) / 3);
  border: none;
  /* margin-right: 30px;
  margin-bottom: 30px; */
}

.project-item:not(:last-child) {
  margin-right: 30px;
}

.gallery__card {
  display: block;
  padding: 20px 24px;
  text-align: start;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.gallery__section__caption {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  white-space: nowrap;
}

/* .gallery-section-caption {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
} */
.gallery__section__dest {
  color: var(--paragraf-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.gallery__bottom__link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__bottom__info {
  position: relative;
  overflow: hidden;
}

.gallery__bottom__text {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  background: rgba(33, 150, 243, 0.9);
  line-height: 1.5;
  /* font-weight: 400; */
  padding: 63px;
  height: 100%;
  width: 370px;
  /* display: flex;
  text-align: center;
  justify-content: center; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__bottom__link:hover .gallery__bottom__text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0%);
  transition: transform 250ms ease-in-out;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-hero);
}

.footer__logo__title {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: flex;
  /* margin-bottom: 9px; */
}

.site-nav.items {
  margin-top: 20px;
  /* margin-bottom: 9px; */
}

.footer-studio-title {
  color: var(--studio-title);
}

.footer__site__nav.items .footer__navigation {
  color: var(--studio-title);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}
.footer__site__nav.items .footer__navigation:hover, .footer__site__nav.items .footer__navigation:focus {
  color: var(--accent-color);
}

.footer__site__nav.items .item {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__site__nav.items .item:hover, .footer__site__nav.items .item:focus {
  color: var(--accent-color);
}

.footer__soc__title {
  color: var(--studio-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--studio-title);
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  /* max-width: 231px;
  width: 100%; */
  margin-right: 70px;
}

.footer__soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__soc__link:hover, .footer__soc__link:focus {
  background-color: var(--accent-color);
}

.footer__soc__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon .footer__soc__link:hover, .footer__soc__link:focus .social__icon {
  fill: var(--studio-title);
}

.footer__soc__icon {
  fill: var(--studio-title);
}

/* sive */
.footer__subscribe__title {
  color: var(--studio-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--studio-title);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

/* .vid{
    display: flex;
    align-items: baseline;

} */
.footer__div {
  padding-left: 93px;
}

.footer__input {
  background-color: rgb(47, 48, 58);
  color: var(--studio-title);
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
}
.footer__input::-moz-placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  /* padding-left: 16px; */
  padding-bottom: 15px;
}
.footer__input:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  /* padding-left: 16px; */
  padding-bottom: 15px;
}
.footer__input::placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  /* padding-left: 16px; */
  padding-bottom: 15px;
}

.footer__buttom__sive {
  background-color: var(--accent-color);
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2784px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding-right: 28px;
  cursor: pointer;
}

.footer__svg {
  position: absolute;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */