.contact {
    letter-spacing: 0.02em;
    line-height: 1.14;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--paragraf-color);
    transform: scale(1);
    transition: color 0.25s ease-in-out;

    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 0.25s ease-in-out;
    }
}

.contact-soc {
    margin-right: 10px;
    fill: var(--paragraf-color);
    transition: fill 0.25s ease-in-out;

    .contact:hover &,
    .contact:focus & {
        fill: var(--accent-color);
        transition: fill 0.25s ease-in-out;
    }
}

.contact-soc {
    color: var(--paragraf-color);
    transition: color, color 0.25s ease-in-out;
}

.contact-soc {
    margin-right: 10px;
    fill: var(--paragraf-color);
    transition: fill 0.25s ease-in-out;
}