.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.gallery__class {
    border: 1px solid #EEEEEE;
    width: calc((100% - 90px) / 3);
    border: none;

    /* margin-right: 30px;
    margin-bottom: 30px; */
}



.project-item:not(:last-child) {
    margin-right: 30px;
}

.gallery__card {
    display: block;
    padding: 20px 24px;
    text-align: start;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.gallery__section__caption {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    white-space: nowrap;
}

/* .gallery-section-caption {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
} */

.gallery__section__dest {
    color: var(--paragraf-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.gallery__bottom__link{
    &:hover {
            display: block;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}



.gallery__bottom__info {
    position: relative;
    overflow: hidden;
}

.gallery__bottom__text {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    background: rgba(33, 150, 243, 0.9);
    line-height: 1.5;
    /* font-weight: 400; */
    padding: 63px;
    height: 100%;
    width: 370px;
    /* display: flex;
    text-align: center;
    justify-content: center; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .gallery__bottom__link:hover & {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            transform: translateY(0%);
            transition: transform 250ms ease-in-out;
        }
}